body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0f7fa;
}

.waiting-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.waiting-screen h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.player-icon {
  width: 100px;
  height: 100px;
  border-radius: 40%;
  margin-right: 10px;
}

.waiting-screen input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.waiting-screen button {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.waiting-screen button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  background-color: #ffffff;
}
.turn {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  color: #00796b;
  font-weight: bold;
}
.cell.active-1,
.cell.final-1 {
  background-image: url("images/player1.png");
  background-size: cover;
}

.cell.active-2,
.cell.final-2 {
  background-image: url("images/player2.png");
  background-size: cover;
}

.cell.final-1 {
  border: 2px solid white; /* or black */
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.cell.final-2 {
  border: 2px solid white; /* or black */
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@keyframes winPulse {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 255, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  }
}

.win-highlight {
  animation: winPulse 1s infinite;
}

.waiting-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* 미디어 쿼리 추가 */
@media (max-width: 600px) {
  .board {
    grid-template-columns: repeat(7, 40px); /* 버튼 크기 조절 */
    gap: 3px; /* 간격 조절 */
  }

  .cell {
    width: 40px;
    height: 40px;
    font-size: 16px; /* 글자 크기 조절 */
  }
}
