body {
  height: 100vh;
  background-color: #f0f0f0;
  display: grid;
  place-items: center;
}

.container {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

/*---------------------------------------------
|                    Header                   |
---------------------------------------------*/

.header {
  background-color: #ffffff;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
}

/* Search */
.header .search-container {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 10% 90%;
}

.header .search-container i {
  align-self: center;
  justify-self: end;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.header .search-container input {
  align-self: center;
  justify-self: start;
  grid-template-columns: 2 / 3;
  padding: 1% 1% 1% 3%;
  background-color: #e2e8f0;
  border: 1px solid #ccc;
  border-radius: 1rem;
  width: 90%;
  font-size: 16px;
}

.header .search-container input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(25, 146, 212, 1);
}

/* User Profile */
.header .user-profile-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 40% 20% 30%;
}

.user-profile-container .user-profile-alarm {
  align-self: center;
  justify-self: end;
  grid-column: 1 / 2;
  font-size: 1.5rem;
}

.user-profile-container .user-avatar {
  align-self: center;
  justify-self: center;
  grid-column: 2 / 3;
}
.user-avatar img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.user-profile-container .user-name {
  align-self: center;
  justify-self: start;
  grid-column: 3 / 4;
}

.user-name h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.user-profile .user-avatar {
  grid-column: 1/ 2;
}

/* User Info */

.user-info-container {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
}

.user-info-container .user-avatar {
  justify-self: end;
  margin-right: 1.5rem;
  display: grid;
  place-items: center;
}

.user-info-container .user-avatar img {
  width: 4rem;
  height: 4rem;
}

.user-info-container .user-name p {
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Action Button */

.action-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.action-buttons-container button {
  border: none;
  padding: 1rem;
  background-color: #1992d4;
  border-radius: 1.5rem;
  width: 6rem;
  color: #e2e8f0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.action-buttons-container button:hover {
  background-color: #136899;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

/*---------------------------------------------
|                    Nav                      |
---------------------------------------------*/

.nav {
  cursor: pointer;
  background-color: #1992d4;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 10% 45% 45%;
}

.nav-header {
  color: #e2e8f0;
  font-size: 2rem;
  font-weight: bold;
  grid-template-rows: 1/ 2;
  display: grid;
  align-items: center;
  grid-template-columns: 20% 80%;
}

.nav-header i {
  grid-template-columns: 1 / 2;
  justify-self: end;
}

.nav-header p {
  margin-left: 1rem;
  justify-self: start;
}

.nav-menu {
  color: #e2e8f0;
  font-size: 1.5rem;
  font-weight: bold;
  grid-template-rows: 2/3;
  display: grid;
}

.menu-item {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.menu-item:hover {
  background-color: #136899;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.menu-item i {
  justify-self: end;
  margin-right: 1rem;
}

.nav-setting {
  color: #e2e8f0;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

/*---------------------------------------------
|                  Contents                   |
---------------------------------------------*/

.contents {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr 1fr;
}

/* Projects */

.contents-projects {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 10% 90%;
  padding: 1rem;
}

.contents-projects > p {
  align-self: end;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-bottom: 1rem;
}

.project {
  background-color: #f0b429;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 3% 97%;
}

.project-card {
  grid-column: 2/3;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 60% 20%;
}

.project-header {
  grid-column: 1 / 3;
  grid-row: 2/ 3;
  margin-left: 1rem;
}

.project-header .project-title {
  color: #333333;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.project-icons {
  grid-column: 2 / 3;
  grid-row: 3;
  color: #333333;
  opacity: 0.7;
  font-size: 1.5rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Announcements */

.contents-announcements {
  padding: 1rem;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 90% 10%;
}

.contents-announcements > p {
  align-self: end;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.card {
  grid-column: 1/2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  padding: 1rem;
}

.card-content h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-content p {
  font-size: 0.8rem;
  color: #333333;
  opacity: 0.7;
}

.divider {
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.card-content:last-child {
  margin-top: -40px;
}

/* Trending */
.contents-trendings {
  padding: 1rem;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 10% 85%;
  grid-template-columns: 90% 10%;
}

.contents-trendings > p {
  align-self: start;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.contents-trendings .card {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.contents-trendings .card-user {
  display: grid;
  grid-template-columns: 20% 80%;
  place-items: center;
}

.contents-trendings .card-user .user-avatar {
  margin-right: 1rem;
}

.contents-trendings .card-user .user-info h2 {
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.contents-trendings .card-user .user-info p {
  opacity: 0.9;
}

.contents-trendings .card img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
